.chat-wrapper {
  height: 80%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat-history {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.chat-input-wrapper {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.chat-mic,
.chat-send {
  padding: 10px;
  border-radius: 50%;
  background-color: var(--nav-bg);
  display: grid;
  place-items: center;
}

.chat-input {
  height: 100%;
  width: 70%;
  display: grid;
  place-items: center;
}

.chat-input > input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
}

.chat-empty {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* color: rgb(30, 55, 24); */
}

.options-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.option {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--nav-bg);
  white-space: nowrap;
  /* margin-right: 10px; */
}
